/* VERSIONE TABLET */
@media only screen and (min-width: 768px){

    /* PARTE ALTA */
    #parte-alta .larg-1 .card img{
        width: 50%;
        display: block;
        margin-top: 1.25rem;
    }

    #parte-alta>div{
        justify-content: space-between;
    }

    .card{
        flex-basis: calc(33.33% - 2%);
    }

    #parte-alta .card:first-child{
        flex-basis: calc(66.66% - 1%);
    }
}

/* VERSIONE DESKTOP */
@media only screen and (min-width: 992px){
    header nav ul{
        display: block;
    }

    header nav .fa-bars{
        display: none;
    }

    /* PARTE ALTA */
    #parte-alta .larg-1 .card:first-child{
        display: flex;
    }
}