/* VERSIONE TABLET */
@media only screen and (min-width: 740px){

    /* PARTE ALTA */
    #parte-alta .larg-1 .card img{
        width: 50%;
        display: block;
        margin-top: 1.25rem;
    }

    #parte-alta>div{
        justify-content: space-between;
    }

    .card{
        flex-basis: calc(33.33% - 2%);
    }

    #parte-alta .card:first-child{
        flex-basis: calc(66.66% - 1%);
    }

    /* PARTE CENTRALE 2 */
    #testimonials{
        text-align: left;
    }
    
    .testimonial{
        display: flex;
        align-items: center;
    }

    .testimonial img{
        margin-right: 1.25rem;
    }

    /* PARTE CENTRALE 3 */
    .benefit{
        flex-basis: calc(50% - 2%);
    }

    /* PARTE BASSA */
    #about-us .larg-1{
        display: flex;
        justify-content: space-between;
    }

    .larg-60{
        flex-basis: calc(60% - 1%);
    }

    .larg-40{
        flex-basis: calc(40% - 1%);
    }

    #circle-img img{
        width: 250px;
    }
}

/* VERSIONE DESKTOP */
@media only screen and (min-width: 1000px){
    header nav ul{
        display: block;
    }

    header nav .fa-bars{
        display: none;
    }

    /* PARTE ALTA */
    #parte-alta .larg-1 .card:first-child{
        display: flex;
    }

    /* PARTE CENTRALE 1 */
    #strategic-planning .larg-2 .fig{
        flex-basis: 50%;
    }

    #strategic-planning .larg-2 .back-white{
        align-self: flex-end;
    }

    #strategic-planning .larg-2 .back-white img{
        width: 60%;
    }

    #strategic-planning .larg-2 .fig{
        flex-basis: 50%;
    }

    /* PARTE CENTRALE 3 */
    .benefit{
        flex-basis: calc(100% / 3 - 2%);
    }

    /* PARTE BASSA */
    #circle-img img{
        width: 200px;
    }

    #circle-img i{
        font-size: 4rem;
    }
}